<div class="new">
  <h2>Create a new set!</h2>
  <form method="post" action="/create_set/">{% csrf_token %}
  <label for="order">Order</label>
  <input type="text" name="order" id="order">
  <label for="setName">Set Name</label>
  <input type="text" name="setName" id="setName">
  <input type="submit" value="Create New Set">
  </form>
</div>

<div class="list">
  <h2>Sets</h2>
  <ol id="notes">
    {% for object in set_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.setName }}</a><form
    method="post" action="/user/set/{{object.setID}}/delete_set/">{% csrf_token %}
    <input type="submit" value="Delete">
    </li>
  </form>

    {% endfor %}
  </ol>
</div>

 <a href="http://127.0.0.1:8000/user_preferences">User Preferences</a>
 
<form method="post" action="/log_out/">{% csrf_token %}
<input type ="submit" value ="Log Out">
